{% extends "base.html" %}

{% load i18n %}
{% block title %} | {% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="shadow p-sm-5 p-2" style="min-height:65vh">
    <h3>{% trans "Change Password" %}</h3><br>
    {% include 'alerts.html' %}
    <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
        {% csrf_token %}
        {{ form.as_p }}
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-info mt-3 ms-3" type="submit" name="action">{% trans "Change Password" %}</button>
    </form>
    </div>
{% endblock content %}
