{% extends 'base.html' %}

{% block title %} | Despre noi{% endblock title %}

{% block content %}
<div class="shadow p-sm-5 p-2">
    <h5 class="mb-3">Despre PetProfile.ro</h5>
    <p class="fst-italic">O casa nu e "acasa" fara cel putin un animal de companie!</p>
    <p>Bine ai venit pe PetProfile.ro, platforma unde ne dorim sa impartasim informatii, comportamente, obiceiuri, intamplari cu si despre ei, prietenii nostri necuvantatori.<br>
    Creeaza-ti si tu un cont si adauga unul sau mai multe pet-profiluri. Cauta si descopera-le pe cele din categoria raselor / speciilor preferate, citeste-le povestile, apreciaza, comenteaza si distribuie pe retelele de socializare.
    </p>
    <p>Let's have some fun! &#129395;</p>
</div>
{% endblock content %}