{% extends 'base.html' %}
{% block title %} | Confidentialitate{% endblock title %}
{% block content %}
<h5>Prelucrarea datelor personale</h5>
<p>Furnizarea datelor personale nu implica nicio obligatie din partea utilizatorilor, iar acestia pot refuza furnizarea acestor date in orice circumstante si pot solicita oricand stergerea datelor personale din baza de date.</p>
<p><strong>PetProfile</strong> va respecta informatiile pe care le-ai furnizat si NU va vinde, NU va inchiria si NU va face barter cu listele de e-mailing ale utilizatorilor sai.</p>
<p>Daca ai motive sa crezi ca orice date personale pe care le detinem despre tine sunt incorecte sau incomplete, ai dreptul sa soliciti sa vezi aceste informatii, sa le rectifici sau sa ceri sa fie sterse, sa soliciti restrictionarea prelucrarii sau sa te opui prelucrarii si de asemenea ai dreptul la portabilitatea datelor.
</p>
<p>Pentru exercitarea acestor drepturi te rugam sa ne contactezi la adresa de e-mail <a class="text-decoration-none" href="mailto:petprofile.contact@gmail.com">petprofile.contact@gmail.com</a> sau sa administrezi chiar tu datele in sectiunea <a class="text-decoration-none" href="{% url 'userprofile' %}">contul tau</a>.
</p>
<h5>DATELE PERSONALE PE CARE LE PRELUCRAM</h5>
<p><strong>PetProfile</strong> nu este despre noi, este despre animalele noastre de companie; vrem sa stim mai multe despre ele si mai putin despre tine 😊.
In consecinta, informatiile pe care le solicitam in vederea crearii unui cont de utilizator sunt minime.
Tot ce ai nevoie pentru a inregistra un cont de utilizator este o adresa de e-mail valida si un nume de utilizator pe care ti-l alegi.
Ca informatii optionale ne poti furniza numele si prenumele tau, insa acestea nu sunt strict necesare.
Mentionam faptul ca adresa ta de e-mail si numele tau sunt <strong>informatii private</strong>, accesibile doar tie, insa <strong>numele de utilizator este informatie publica</strong> in cadrul site-ului; acesta va aparea in comentariile pe care le faci, aprecierile pe care le oferi, etc.
</p>

{% endblock content %}
